In [14]:
import utilities
import random
import pandas as pd
import numpy as np

In [15]:
random_data = random.sample(range(1, 100), 20)

In [16]:
random_labels = random.sample(range(1,90), 20)

In [17]:
random_data

[57, 69, 86, 67, 74, 83, 97, 7, 93, 32, 1, 72, 13, 84, 9, 82, 95, 25, 39, 89]

In [18]:
random_labels

[39, 21, 61, 65, 52, 22, 32, 80, 26, 68, 69, 33, 55, 83, 84, 43, 53, 4, 89, 75]

In [19]:
validation_indexes,training_indexes = utilities.cross_validation(8,20,9)

In [20]:
train_data,train_labels,valid_data,valid_labels = utilities.get_train_test_set(validation_indexes,training_indexes,random_data,random_labels)

In [21]:
print(train_data)
print(train_labels)
print(valid_data)
print(valid_labels)

[57 69 86 67 74 83 97  7 93 32  1 72 13 84  9 82 95 25]
[39 21 61 65 52 22 32 80 26 68 69 33 55 83 84 43 53  4]
[39 89]
[89 75]

In [27]:
training_mini_file = 'Datasets/mini_train_set.csv'
testing_mini_file = 'Datasets/mini_test_set.csv'

In [28]:
## load the dataset into a pandas dataframe
train_data_frame = pd.read_csv(training_mini_file,sep = '  ') 
test_data_frame = pd.read_csv(testing_mini_file,sep = '  ')

/home/apostolos/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/home/apostolos/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [29]:
train_data_frame.describe()

,3.,-1.,-1..1,-1..2,-1..3,-1..4,-0.928,-0.204,0.751,0.466,...,0.466.1,0.639,1..33,1..34,0.791,0.439,-0.199,-0.883,-1..132,-1..133
count,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,...,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000
mean,1.844512,-0.994436,-0.977466,-0.939247,-0.866326,-0.732027,-0.568043,-0.328104,0.153137,-0.067912,...,-0.476360,-0.132738,-0.050418,-0.545582,-0.761271,-0.835055,-0.858768,-0.881613,-0.930506,-0.977210
std,0.744131,0.072894,0.157612,0.280705,0.414468,0.553796,0.687659,0.728373,0.759763,0.733626,...,0.707822,0.726188,0.804353,0.645949,0.531987,0.437031,0.410276,0.371461,0.262576,0.136258
min,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.706250,-0.980750,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
50%,2.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.682000,0.447000,-0.031500,...,-0.940000,-0.085500,0.071000,-0.963000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
75%,2.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.915500,-0.249750,0.300750,0.806250,0.634250,...,0.104000,0.543000,0.759000,-0.193000,-0.998750,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
max,3.000000,0.166000,0.861000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.790000,0.425000

In [25]:
test_data_frame.describe()

,3.,Unnamed: 1,Unnamed: 2,-1.,Unnamed: 4,Unnamed: 5,-1..1,Unnamed: 7,Unnamed: 8,-1..2,...,-1..124,Unnamed: 760,Unnamed: 761,-1..125,Unnamed: 763,Unnamed: 764,-1..126,Unnamed: 766,Unnamed: 767,-1..127
count,455.000000,0.0,0.0,455.000000,0.0,0.0,455.000000,0.0,0.0,455.000000,...,455.000000,0.0,0.0,455.000000,0.0,0.0,455.000000,0.0,0.0,455.000000
mean,1.901099,NaN,NaN,-0.995527,NaN,NaN,-0.973745,NaN,NaN,-0.936389,...,-0.885585,NaN,NaN,-0.935646,NaN,NaN,-0.960910,NaN,NaN,-0.987174
std,0.819032,NaN,NaN,0.050413,NaN,NaN,0.192361,NaN,NaN,0.278924,...,0.360608,NaN,NaN,0.278183,NaN,NaN,0.219232,NaN,NaN,0.102333
min,1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000,...,-1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000
25%,1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000,...,-1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000
50%,2.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000,...,-1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000
75%,3.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000,...,-1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000,NaN,NaN,-1.000000
max,3.000000,NaN,NaN,-0.235000,NaN,NaN,0.910000,NaN,NaN,1.000000,...,1.000000,NaN,NaN,1.000000,NaN,NaN,0.992000,NaN,NaN,0.563000

In [26]:
# convert dataframe to np array
train_data = train_data_frame.to_numpy()
print(train_data.shape)
test_data = test_data_frame.to_numpy()
print(test_data.shape)

(328, 769)
(455, 769)